<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定对应的dao/Mapper接口-->
<mapper namespace="com.kina.dao.UserMapper">

    <!--select查询-->
    <!--id就是对应的namespace中的方法名-->
    <!--resultType返回值类型-->
    <resultMap id="UserMap" type="user">
        <!--column数据库中的字段, property实体类中的属性-->
        <!--<result column="id" property="id"/>-->
        <!--<result column="name" property="name"/>-->
        <result column="pwd" property="password"/>
    </resultMap>
    <select id="getUserList" resultMap="UserMap">
        select * from mybatis.user
    </select>

    <!--分页-->
    <select id="getUserByLimit" parameterType="map" resultType="user" >
        select * from user limit #{startIndex}, #{pageSize}
    </select>
    <select id = "getUserById" parameterType = "int" resultType="user">
        select * from user where id = #{id}
    </select>

</mapper>